

.modal {
    color:$activeTextColor;
    display: flex;
    position: absolute;
    background-color: $primaryHeaderBGColor2;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    min-width: 250px;
    width: fit-content;
  
    height: fit-content;
    padding: 0 10px 15px 10px;
    border-radius: 5px;
    border: none;
    z-index: 1;
    font-family: $mainTextStyle;

    .edit_modal_content{
        width:100%;
    }


    h2{
        margin-top: 10px;
        margin-bottom: 0;
      
    }

    .sub_title_text{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .error_message{
        @include errorStyling;
    }

    .shake{
        animation: shake 175ms;
    }

    .modal_form_inputs{
        box-sizing: border-box;
        display: flex;
   

        label{
            margin-top: 5px;
        }

        input,select{
            box-sizing: border-box;
            margin-top: 2px;
            height: 23px;
        }

        .modal_column{
            display: flex;
            flex-direction: column;
            &:not(:last-child){
                margin-right: 10px;
            }
        }

    }

    .modal_btn{
        padding: 0;
        margin-top: 15px;

        button{
            margin: 0;
        
            box-sizing: border-box;
        }
    }
    
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //for some reason using opacity will affect the Modal as well
    //So we use the rgba
    background-color: rgba(5, 1, 1, 0.568);
    z-index: 1;
}


#admin_page_container{
    display: flex;
    margin-top: 30px;
    font-family: $mainTextStyle;
    justify-content: center;
    color: $secondaryTextColor;
    margin-bottom: 50px;


    .admin_single_page{
        width: fit-content;
        height: fit-content;
        background-color: $primaryHeaderBGColor;
        border-radius: 5px;
   
        .admin_single_page_content{
            margin: 15px;
            display: flex;
            flex-direction: column;

            i{
                user-select: none;
                cursor: pointer;

                &:active{
                    animation: navClick 2s;
                }

                &:hover{
                    filter: brightness(1.25);
                }
            }
            
            .admin_icon_right{
                align-self: flex-end;

            }

            .pagination{
                margin-top: 10px;
                display: flex;
                justify-self: center;
                align-self: flex-end;


                
                .page_numbers{
                    display: flex;
                    margin-right: 10px;

                    .active{
                        background-color: $secondaryPHBGColor;
                        color: white;
                    }

                    button{
                        //a tags are by default display inline which is not affected by width and height
                        //can override the disply
                        height: 22px;
                        width: 22px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        border: 1px solid $secondaryPHBGColor;
                        user-select: none;
                        cursor: pointer;
                        color:$secondaryTextColor;
                        
                        background-color: $primaryHeaderBGColor2;
    
                        &:active{
                            animation: navClick1 100ms;
                        }

                        @keyframes navClick1 {
                            0%{
                                background-color: $secondaryPHBGColor
                            }

                            50%{
                                background-color: $primaryHeaderBGColor2
                            }

                            100%{
                                background-color: $secondaryPHBGColor
                            }
                        }
    
                        &:not(:last-child){
                            border-right: 0px;
                      
                        }
    
                        &:hover{
                            // background-color: $secondaryPHBGColor;
                            // color: white;
                            filter: brightness(1.25);
                        }
                    }
                }

                .page_input{

                    input{
                        box-sizing: border-box;
                        padding: 0;
                        width: 30px;
                        padding: 0 2px;
                        appearance: textfield; //Firefox
                        text-align: end;
                        height: 22px;
                        color:$secondaryTextColor;
                        border: 1px solid $secondaryPHBGColor;
                        background-color: $secondaryBackgroundColor;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outter-spin-button{ //Chome
                            -webkit-appearance: none;
                        }

                    }
                    
                }


            }

        }

        .table_container{
            display: flex;
            align-items: center;
            justify-content: center;
         
        }

        .admin_person_table{
            border-collapse: collapse;
            font-size: 0.9em;
            text-align: left;

            th{
                background-color: $primaryHeaderBGColor2;
                font-weight: normal;
            }

            div{
                white-space: nowrap;
                padding: 0;
                margin: 0;
                max-width: 125px;
                overflow: hidden;
                overflow-x: auto;
                scrollbar-width: none; //remove scrollbar while still allowing to scroll Firefox
                -ms-overflow-style: none;  /* Internet Explorer 10+ */

                &::-webkit-scrollbar{ //Chrome
                    display: none;
                    background: transparent;
                }
            }

            th, td{
                padding: 10px 15px 10px 15px
            }
            
            tbody{
                tr:nth-child(odd){
                    background-color: $secondarymainBGColor;
                }

                tr:nth-child(even){
                    background-color: $secondaryPHBGColor;
                }
            }

            i{
                font-size: 16px;
            }
            
        }
        
    }

}