.form-container{
  /* Add padding to container elements */ 
  padding: 16px;

  //basic styling for the form fields
  input[type=text], input[type=password], input[type=email], input[type=tel], textarea, select {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      border-radius: 5px
  }

  // Set a style for all buttons 
  button {
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

    &:hover{
      opacity:1;
    }
  }

  //the white line divider
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

}


