.login_signup_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $activeTextColor;
    font-family: $mainTextStyle;
    height: 100vh;
 

    .input_and_button_container{
        border-radius: 5px;
        background-color: $primaryHeaderBGColor;
        width: $loginAndSignUpSize;
        
    }


    .input_container{
        
        padding: 0px 20px 10px 20px;
        // background-color: $primaryHeaderBGColor;
        display: flex;
        flex-direction: column;

        .error_message{
            box-sizing: border-box;
            display: flex;
            justify-items: center;
            padding-left: 10px;
            background-color: rgb(158, 31, 31);
            border-radius: 5px;
            animation: shake 175ms;
        }

        @keyframes shake {
            0%{
                transform: translateX(0px);
            }

            25%{
                transform: translateX(5px);
            }

            50%{
                transform: translateX(-5px);
            }

            75%{
                transform: translateX(5px);
            }
            100%{
                transform: translateX(0px);
            }


        }
   
        
        hr{
            box-sizing: border-box;
            width: 100%;
            padding: 0;
        }

        input{
            margin-top: 5px;
            box-sizing: border-box;
            width: 100%;
        }

        label{
            margin-top: 10px;
        }

        p{
            font-size: 10px;

           a{
               cursor: pointer;
               color: $secondaryTextColor;
               text-decoration: none;
           }
        }

    }

    .login_signup_button_container{
       
 

        button{
            font-size: 16px;
            color:$activeTextColor;
            width: 30%;
            margin-bottom: 20px;
            margin-right: 20px;
            margin-left: 20px;
            padding: 0;
            height: 30px;
            border: none;
            border-radius: 5px;
            background-color: $secondarymainBGColor;
            cursor: pointer;
            
           

            &:hover{
                filter: brightness(1.25);
                color:$activeTextColor;
            }
        }


    }
}