#my_account_page_container{
    display: flex;
    margin-top: 30px;
    font-family: $mainTextStyle;
  
    #my_account_nav_menu_container{
        display: flex;
        flex-direction: column;
        width: 150px;
        
 
      

        .my_account_nav_menu{
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: $mainTextStyle;
            color: $activeTextColor;
        
            // margin-right: 10px;
            .active_tab{
                filter: brightness(1.25);
                transform: translateX(10px);
            }
            
            li{
                color: azure;
                height: 30px;
                background-color: $secondaryPHBGColor;
                display: flex;
        
                align-items: center;
                padding: 0 0 0 10px;
         
                cursor: pointer;
                user-select: none;
                transition: transform 50ms ease-in;

                &:active{
                    animation: navClick 100ms;
                }

                &:hover{
                    filter: brightness(1.25);
                    // transform: translateX(10px);
                }

                //Apply to everything except the last element
                &:not(:last-child){
                    margin-bottom: 10px;
                }

                i{
                    margin-right: 5px;
                    font-size: 16px;
                }



            }
        }
    }

    .single_page_container{
      
        display: flex;
        width: 270px;
        background-color: $primaryHeaderBGColor;
        display: flex;
        overflow: hidden;
        color:$activeTextColor;
        margin: auto;
        height: fit-content;
        padding: 0 20px 10px 20px;
        border-radius: 5px;

        p{
            height: 20px;

        }
        

        button{
            @include buttonStyle;
            height: fit-content;
            padding-top: 5px;
            padding-bottom: 5px;
            min-width: 100px;
            width: 100%;

            &:active{
                animation: navClick 1s;
            }
  
        }

        .my_account_single_page{
            flex: 1;
            
            .info_container{
                display: flex;
                flex: 1;

                #info_tag{
                    max-width: fit-content;
                    
                }

                #info_details{
                    flex: 1;
                    margin-left: 5px;
                    overflow: hidden;
                    
                    p{  
                        display: flex;
                        height: 20px;
                        padding-left: 8px;
                        background-color: $primaryHeaderBGColor2;
                    }
                }
            }



        }

        #change_password_form{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            background-color: $primaryHeaderBGColor2;
            width: fit-content;
            padding: 10px;
            border-radius: 5px;

            input{
                box-sizing: border-box;
                width: 250px;
                margin-top: 3px;
            }

            label{
                margin-top: 8px;
            }

            button{
                margin-top: 20px;
                width: fit-content;
                @include buttonStyle;
            }

            .error_message{
                word-wrap: break-word;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: $errorColor1;
                border-radius: 5px;
                color: white;
                height: fit-content;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                animation: shake 175ms;
                
                p{
                    margin: 5px;
                    width: 100%;
                    height: fit-content;
                    word-wrap: break-all;
                }
            }
        }

    }


}

