#primary_tab{
    margin-top: 20px;

    #primary_tab__tab_container{
        display: flex;
        

        .primary_tab__singletab{
            //have to make the display flex in order to align
            //the text to the middle. There is a ton of other
            //ways to do this, but this seems to be an easy way
            display: flex;
            align-items: center;
            justify-content: space-between;
            //use border-box as it help prevent padding from
            //adding to the element's width/height
            box-sizing: border-box;
            margin-right: 5px;
            height: 30px;
            width: 125px;
            padding-left: 10px;
            padding-right: 10px;
            background-color:$primaryHeaderBGColor;
            color:$secondaryTextColor;
            overflow: hidden;

    
            &:active{
                background-color: $secondaryPHBGColor;
                color: $activeTextColor;
            }

            p{
                width:auto;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 3px;
            }

            a{
                font-size: 12px;
            }
        }        

    }
 


    #primary_tab__tab_line{
        background-color: $secondaryPHBGColor;
        height: 5px;
    }
}