#primary_tab{
    margin-top: 30px;
    overflow: auto;
    white-space: nowrap;

    

    #primary_tab__tab_container{
        display: flex;
        //use baseline so that when the scroll pop up, everything is aligned correctly
        align-items: baseline;
        ////If you want to hide the scrollbar, we can indicate a height and have
        ////overflow as hidden for the parent-container
        height:35px;
        overflow: hidden;
        font-family: $mainTextStyle;
        font-size: 14px;
        #primary_tab__horizontal_scroll_container{
            display: flex;
            align-items: baseline;
            //put max width so that the plus icon will be next to the tabs
            max-width:98vw;
            //without the overflow-x auto or scroll, it will make the items go off the page
            //if you want no scrollbar, you can use overflow hidden.
            overflow-x: auto;
            // scrollbar-width: thin;
            scroll-behavior: smooth;
            
        }

        
        .animate_singletab{
            @include popUpAnimation();
        }

        .active{
            filter: brightness(1.25);
        }

        .primary_tab__singletab{
            //have to make the display flex in order to align
            //the text to the middle. There is a ton of other
            //ways to do this, but this seems to be an easy way
            display: flex;
            align-items: center;
            justify-content: space-between;
            //use border-box as it help prevent padding from
            //adding to the element's width/height
            box-sizing: border-box;
            margin-right: 5px;
            height: 30px;
            //to make a horiztonal scroll bar you need to have the child element
            //have a min width.
            min-width: 125px;
            padding-left: 10px;
            padding-right: 10px; 
            background-color:$primaryHeaderBGColor;
            color:$secondaryTextColor;
            overflow: hidden;
            // transform-origin: 0% 50%;




            &:active{
                background-color: $secondaryPHBGColor;
                color: $activeTextColor;

                i{
                    color: $activeTextColor;

                    &:active{
                        animation: navClick 1s;;
                    }
    
                    &:hover{
                        filter: brightness(1.25);
                    }
                }
            }


            p{
                width:auto;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 3px;
            }



        }        

        i{
            margin-left: 5px;
            color:$secondaryTextColor;
            font-size: 14px;
            align-self: center;
         
            cursor: pointer;
            //Makes it so the user cannot highlight the icon
            user-select: none;

            &:active{
                animation: navClick 1s;;
            }

            &:hover{
                filter: brightness(1.25);
            }

        }

    }
 



}