.step_container{
    height: 40px;
    width: ($loginAndSignUpSize + 40px);
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;

    div{
        background-color: aquamarine;
        border-radius: 50%;
        width:40px;
        height: 40px;
 
        
    }
}

#setup_hidden_container{
    width:($loginAndSignUpSize + 40px);
    overflow: hidden;
    
  
}



.input_signup_container{

    // background-color: $primaryHeaderBGColor;
    display: grid;
    grid-auto-flow: column;
    transition:transform 300ms;
    
   
    #first_step_signup{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        min-width:$loginAndSignUpSize;
        background-color: $primaryHeaderBGColor;
       


        .signup_address{
            display: flex;
            flex-direction: column;
        }



    }

    #second_step_signup{
        display: flex;
        flex-direction: column;
        background-color: $primaryHeaderBGColor;;
        min-width:$loginAndSignUpSize;
        padding: 20px;
        height: fit-content;
        border-radius: 10px;
       
    }

    
    hr{
  
        width: 100%;
        
    }

    label{
        margin-top: 10px;
    }

    input{
        box-sizing: border-box;

        width: 100%;
    }

    p{
        font-size: 10px;
    }

    button{
        align-self: flex-end;
        max-width: fit-content;
        margin: 20px 0 5px 0;
    }

}