#ticket_columns_container{

    margin-top: 20px;
    
   

    #ticket_column_list{     
        display: flex;
        overflow-x: auto;
        scrollbar-width: thin;
        //have to rotate 180 to get the scrollbar on top
        transform:rotateX(180deg);
    }
   

    .single_ticket_column{
        margin-right: 20px;
        color:$activeTextColor;
        //when we rotate 180 for the scrollbar, we rotate the elements too
        //we have to rotate them back.
        transform:rotateX(180deg);
        
        .column_title{
            
            background-color: $columnTitleColor;
            display: flex;
            justify-content: space-between;
            font-family: $mainTextStyle;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            align-items: center;
            width: 275px;
            height: 45px;

            

            p{
                font-size: 22px;
                width: 175px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            i{
                font-size: 18px;
                color: $secondaryTextColor;
                cursor: pointer;
                user-select: none;
   
            }
        }

        .ticket_list_container{
            width: 275px;
            background-color: $secondaryBackgroundColor;
            padding: 10px;
            height: auto;
        }

    }

    #add_new_ticket_column_icon{
        display: flex;
        align-items: center;

        i{
            color:$secondaryTextColor;

            user-select: none;
            cursor: pointer;

            &:active{
                color: $activeTextColor;
            }
        }

        p{
            color: $secondaryTextColor;
            margin-left: 5px;
            font-size: 18px;
        }

    }

}