// this is where all the variables for sass in the project will go
// this is so we have a central location to manage it.


//Overall HTML variable
$siteBackgroundColor: #383838;
$secondaryBackgroundColor: #242424;

//primary header variables
$primaryHeaderBGColor : #264653;
$secondaryPHBGColor: #477284;
////Seach bar colors in primary header
$activeTextColor:rgb(243, 243, 243);
$secondaryTextColor: #A5A5A5;

//Secondary coloring
$secondarymainBGColor: rgb(32, 99, 138);;

//Column Title
$columnTitleColor:#141414;

//Main Text Style
$mainTextStyle:'Roboto', sans-serif;

//Main Container size. If lower than 100% then it will add white space to the sides.
$mainContainer:90vw;

//login and signup container size
$loginAndSignUpSize: 300px;


@mixin blinkclick {
    @keyframes navClick{
        0%{
            filter: brightness(1);
        }
      
        100%{
            filter: brightness(1.25);
        }
    }
}

@mixin popupmixin() {
    @keyframes popUp {
        0%{
            min-width: 0px;
            
        }

        100%{
            min-width: 125px;
    
        }

    }
    
}

@mixin popUpAnimation{
    animation: popUp 80ms;
}



