// this is where all the variables for sass in the project will go
// this is so we have a central location to manage it.


//Overall HTML variable
$siteBackgroundColor: #383838;
$secondaryBackgroundColor: #242424;

//primary header variables
$primaryHeaderBGColor : #294b5a;
$primaryHeaderBGColor2 : #223c46;
$secondaryPHBGColor: #477284;
$secondaryPHBGColor2: #74a5b9;
////Seach bar colors in primary header
$activeTextColor:rgb(243, 243, 243);
$secondaryTextColor: #bebebe;

//Secondary coloring
$secondarymainBGColor: rgb(32, 99, 138);

//Error Color
$errorColor1: rgb(158, 31, 31);

//Column Title
$columnTitleColor:#141414;

//Main Text Style
$mainTextStyle:'Roboto', sans-serif;

//Main Container size. If lower than 100% then it will add white space to the sides.
$mainContainer:90vw;

//login and signup container size
$loginAndSignUpSize: 300px;


@mixin blinkclick {
    @keyframes navClick{
        0%{
            filter: brightness(1);
        }
      
        100%{
            filter: brightness(1.25);
        }
    }
}

@mixin popupmixin() {
    @keyframes popUp {
        0%{
            min-width: 0px;
            // transform: scaleX(0);
            
        }

        100%{
            // transform: scaleX(1);
            min-width: 125px;
        }

    }
    
}

@mixin popUpAnimation{
    animation: popUp 50ms ease;
    
}

@mixin buttonStyle() {
    padding: 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $secondarymainBGColor;
    font-size: 16px;
    color:$activeTextColor;
    cursor: pointer;

    
    &:hover{
        filter: brightness(1.25);
        color:$activeTextColor;
    }


}



