// this is where all the variables for sass in the project will go
// this is so we have a central location to manage it.


//Overall HTML variable
$siteBackgroundColor: #383838;
$secondaryBackgroundColor: #242424;

//primary header variables
$primaryHeaderBGColor : #264653;
$secondaryPHBGColor: #477284;
////Seach bar colors in primary header
$activeTextColor:rgb(235, 235, 235);
$secondaryTextColor: #A5A5A5;

//Column Title
$columnTitleColor:#141414;

//Main Text Style
$mainTextStyle:'Roboto', sans-serif;

//Main Container size. If lower than 100% then it will add white space to the sides.
$mainContainer:90vw;





