.client_org_modal_container{

    //transition: <property> <duration> <timing-function> <delay>;
    //you want to use ms for duration as that is standard for javascript
   transition: max-height 10350ms;
   max-height: 800px;
   width: 100%;
   
}




.client_org_modal_button{
    display: flex;
    //gap still works with flex. Amazing
    gap: 5px;
    font-family: $mainTextStyle;
    grid-auto-flow: column;


    button{
        color: $secondaryTextColor ;
        padding: 5px 10px;
        font-size: 1rem;
        background-color: rgb(28, 99, 75);
        border: rgb(117, 117, 117) solid 2px;
        //put a max width and then make the button flex
        //this will make all the button have the same width
        //As well as let it dynamically change size based on the screen
        max-width: 75px;
        flex: 1;

        &:hover{
            filter: brightness(1.3);
            cursor: pointer;
        }

        &:active{
            animation: navClick 100ms;
        }
    }


}

.active{
    filter: brightness(1.3);
}

